.title-header {
  margin-top: 50px;
}

.general-title {
  font-size: 2rem;
}

.general-subtitle {
  margin-top: 4px;
}

.mat_header_title {
  font-size: 1rem;
  font-weight: bold;
}

.reservations_container {
  margin-top: 2rem;
}
