<div class="container reservations_container">
  <h2 class="mb-3">Current Reservations</h2>
  <!-- Material Table -->
  @if (reservations$ | async; as reservations) {
    <table
      mat-table
      [dataSource]="reservations"
      class="mat-elevation-z8 full-width-table">

      <!-- Session Column -->
      <ng-container matColumnDef="sessionDate">
        <th mat-header-cell *matHeaderCellDef class="mat_header_title"> Date</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.sessionDate }}
        </td>
      </ng-container>

      <!-- Start Time Column -->
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef class="mat_header_title"> Start Time</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.startTime }}
        </td>
      </ng-container>

      <!-- End Time Column -->
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef class="mat_header_title"> End Time</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.endTime }}
        </td>
      </ng-container>

      <!-- Training Type Column -->
      <ng-container matColumnDef="trainingType">
        <th mat-header-cell *matHeaderCellDef class="mat_header_title">Training Type</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.trainingType }}
        </td>
      </ng-container>

      <!-- Capacity Column -->
      <ng-container matColumnDef="capacity">
        <th mat-header-cell *matHeaderCellDef class="mat_header_title"> Capacity</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.capacity }}
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="mat_header_title"> Status</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.status }}
        </td>
      </ng-container>

      <!-- Remaining Slots Column -->
      <ng-container matColumnDef="remainingSlots">
        <th mat-header-cell *matHeaderCellDef class="mat_header_title">Remaining Slots</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.remainingSlots }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mat_header_title"> Action</th>
        <td mat-cell *matCellDef="let reservation">

          <button
            mat-stroked-button
            color="primary"
            class="me-2"
            (click)="onUpdateReservations(reservation)">
            Update
          </button>

          <button
            mat-raised-button
            color="warn"
            (click)="openDeleteDialog(reservation)">
            Delete
          </button>
        </td>
      </ng-container>

      <!-- Header & Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    @if (reservations.length === 0){
      <p class="text-center mt-5">No current reservations found.</p>
    }

  }
  <!-- Delete confirmation dialog template -->
  <ng-template #deleteDialog let-data>
    <h2 mat-dialog-title>Confirm Delete</h2>

    <mat-dialog-content>
      Are you sure you want to delete reservation
      <strong>{{ data.sessionDate }} {{ data.startTime }}</strong>?
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close="false">Cancel</button>
      <button mat-raised-button color="warn" mat-dialog-close="true">
        Delete
      </button>
    </mat-dialog-actions>
  </ng-template>
</div>


