<div class="container">

  <h3>Reservations Directory</h3>
  <hr>

  <p class="h4 mb-4">Save Reservation</p>

<!--  Delete below line after successful test-->
<!--  <form-->
<!--     method="POST">-->

<!--    &lt;!&ndash; Add hidden form field to handle update &ndash;&gt;-->
<!--    <input type="hidden" field="id" />-->

<!--    <input type="text" field="firstName"-->
<!--           class="form-control mb-4 w-25" placeholder="First name">-->

<!--    <input type="text" field="lastName"-->
<!--           class="form-control mb-4 w-25" placeholder="Last name">-->

<!--    <input type="text" field="email"-->
<!--           class="form-control mb-4 w-25" placeholder="Email">-->

<!--    <button type="submit" class="btn btn-info col-2">Save</button>-->

<!--  </form>-->

<!--  <form [formGroup]="reservationForm" (ngSubmit)="submit()">-->
<!--    <input type="date" formControlName="reservationDate">-->

<!--    <input type="time" formControlName="startTime">-->
<!--    <input type="time" formControlName="endTime">-->

<!--    <input type="number" formControlName="maxSlots" placeholder="Max slots">-->
<!--    <input type="number" formControlName="bookedSlots" placeholder="Booked slots">-->

<!--    <button type="submit" [disabled]="reservationForm.invalid">Save</button>-->
<!--  </form>  -->

  <form [formGroup]="reservationForm" (ngSubmit)="submit()">
    <input class="form-control mb-4 w-25" type="text" formControlName="firstName" placeholder="First name">
    <input class="form-control mb-4 w-25" type="text" formControlName="lastName" placeholder="Last name">
    <input class="form-control mb-4 w-25" type="email" formControlName="email" placeholder="E-mail">

    <button type="submit" class="btn btn-info col-2" [disabled]="reservationForm.invalid">Save</button>
  </form>

  <hr>
  <a routerLink="/">Back to Client List</a>

</div>
