

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 2rem;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.full-width {
  width: 100%;
}

.radio-group-wrapper {
  margin-top: 8px;
}

.custom-radio-group {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (min-width: 760px){
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

.submit-wrapper {
  margin-top: 8px;
}

@media (max-width: 768px) {
  .form-row {
    grid-template-columns: 1fr;
  }
}
