<mat-toolbar color="primary">
<!-- Left: Logo -->
<span class="logo">Training Platform</span>

<!-- Left nav links (only when logged in) -->
<ng-container *ngIf="isLoggedIn$ | async">
  <button mat-button routerLink="/" routerLinkActive="active">
    Home
  </button>

  @if(isAdmin()){
    <button mat-button routerLink="/usersList" routerLinkActive="active">
      Users
    </button>
  }

  <button mat-button routerLink="/reservationsList" routerLinkActive="active">
    Reservations
  </button>
  <button mat-button routerLink="/resForm" routerLinkActive="active">
    ResForm
  </button>
</ng-container>

<span class="spacer"></span>

<!-- Logged-in username -->
@if (loggedInUser) {
  <span class="logged-user">{{ loggedInUser }}</span>
}

<!-- Logout -->
<ng-container *ngIf="isLoggedIn$ | async">
  <button mat-button (click)="logout()">
    Logout
  </button>
</ng-container>
</mat-toolbar>
