
.container {
  margin-top: 2rem;
}

.general-title {
  font-size: 2rem;
  padding: 0.25rem;
}

.general-subtitle {
  margin-left: 8px;
}

.btn_container {
  padding: 1rem;
}

.reservations_btn {
   margin-left: 10px;
}
